* body {
    margin: 0;
}

/* font family */
* {
    font-size: 'Mulish', sans-serif;
}

/* variable */
:root {
    --primary-color: #131318;
    --secondary-color: #fff;
    --p-color: #5A5A5D;
    --special-color: #FF5400;
}

/* Header section */

header {
    margin: 80px 120px;
}

/* Nav Section */
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    align-items: center;
}

.nav-menu ul {
    display: flex;

}

.nav-menu li {
    list-style: none;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 400;

}

.nav-menu li a {
    text-decoration: none;
    color: rgba(66, 66, 71, 1);

}

/* #checkbox{
    display: none;
} */
#home a {
    color: var(--special-color);
    font-weight: 700;
}

.nav-content {
    display: flex;
    align-items: center;
}

.nav-content h1 {
    margin-left: 15px;
    font-size: 36px;
    font-weight: 800;
    color: var(--primary-color);
}

.nav-content h1 span {
    color: var(--special-color);
}

/* Header banner section */
.header-banner {
    background-image: url(../images/Group.png);
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.banner-content {
    text-align: center;
    margin: 0 auto;
    padding: 119px 475px 91px;
    background-color: #00000030;
}

.content h1 {
    font-size: 64px;
    font-weight: 800;
    color: var(--secondary-color);
}

.content p {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color);
    padding: 24px 0 48px;
}

.banner-button {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    padding: 16px 30px;
    display: inline-flex;
    gap: 24px;

}

.banner-button button {
    font-size: 16px;
    font-weight: 400;
    padding: 18px 15px;
    border: none;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    width: 175px;
    display: flex;
    justify-content: space-between;
}

.banner-button .btn-1 {
    background-color: var(--special-color);
    color: var(--secondary-color);
}

/* main */
main {
    margin: 80px 120px;
}

/* popular tours section  */

.popular-tours-container {
    display: flex;
    gap: 120px;
    justify-content: center;
    width: 100%;

}

.popular-tours-content {
    width: 100%;
}

.popular-tours-content h3 {
    font-size: 40px;
    color: var(--primary-color);
    font-weight: 800;
    line-height: 1.5;
}

.popular-tours-content p,
.popular-tours-content li {
    font-size: 16px;
    color: var(--p-color);
    font-weight: 400;
    padding: 10px 0;
    line-height: 1.5;
}

.popular-tours-content button {
    background-color: var(--special-color);
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    margin-top: 113px;
}

.popular-tours-img {
    width: 100%;

}

.popular-tours-img img {
    width: 100%;
}

/* Destination section */

.destination-content {
    text-align: center;
    margin: 80px 0;
}

.destination-content h3 {
    font-size: 40px;
    color: var(--primary-color);
    font-weight: 800;
    /* line-height: 1.5; */
}

.destination-content p {
    font-size: 16px;
    color: var(--p-color);
    font-weight: 400;
    /* line-height: ; */
}

.row {
    display: flex;
    /* gap: 15px; */
}

.row div {
    flex: 1;

}

.row img {
    height: 80%;
}

.top-left-row img {
    position: relative;
    z-index: 10px;
    width: 90%;

}

.top-left-row h4 {
    position: absolute;
    margin-left: 304px;
    margin-top: 138px;
    z-index: 8;
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 800;

}

.top-right-row img {
    position: relative;
    z-index: 10px;
    width: 90%;
}

.top-right-row h4 {
    position: absolute;
    margin-left: 310px;
    margin-top: 142px;
    z-index: 8;
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 800;
}

.middle-left-row img {
    position: relative;
    z-index: 10px;
    width: 90%;
}

.middle-left-row h4 {
    position: absolute;
    margin-left: 184px;
    margin-top: 200px;
    z-index: 8;
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 800;
}

.middle-middle-row img {
    position: relative;
    z-index: 10px;
    width: 90%;
}

.middle-middle-row h4 {
    position: absolute;
    margin-left: 172px;
    margin-top: 200px;
    z-index: 8;
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 800;
}

.middle-right-row img {
    position: relative;
    z-index: 10px;
    width: 90%;
}

.middle-right-row h4 {
    position: absolute;
    margin-left: 195px;
    margin-top: 200px;
    z-index: 8;
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 800;
}

.bottom-left-row img {
    position: relative;
    z-index: 10px;
    width: 90%;
}

.bottom-left-row h4 {
    position: absolute;
    margin-left: 287px;
    margin-top: 180px;
    z-index: 8;
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 800;
}

.bottom-right-row img {
    position: relative;
    z-index: 10px;
    text-align: center;
    width: 90%;
}

.bottom-right-row h4 {
    position: absolute;
    margin-left: 325px;
    margin-top: 178px;
    z-index: 8;
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 800;
}

/* choose section */

.choose-content {
    text-align: center;
    margin-bottom: 80px;
}

.choose-content h2 {
    font-size: 40px;
    font-weight: 800;
    color: var(--primary-color);
}

.choose-content p {
    font-size: 16px;
    font-weight: 400;
    color: var(--p-color);
}

.choose-box-section {
    display: flex;
    gap: 80px;
    margin-bottom: 80px;
}

.box-1 {
    background-color: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.20);
    padding: 40px;
    border-radius: 8px;
    width: 40%;
    height: 250px;
}

.box-2 {
    background-color: rgba(41, 206, 246, 0.05);
    border: 1px solid rgba(41, 206, 246, 0.20);
    padding: 40px;
    height: 250px;
    border-radius: 8px;
    width: 40%;
}

.box-3 {
    background-color: rgba(233, 68, 68, 0.05);
    border: 1px solid rgba(233, 68, 68, 0.20);
    padding: 40px;
    width: 45%;
    height: 250px;
    border-radius: 8px;
    margin: auto;

}

#box-content img {
    height: 64px;
    width: 64px;
}

#box-content h4 {
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 800;
}

#box-content p {
    font-size: 16;
    color: var(--p-color);
    font-weight: 400;
}

/* simple perfect place */


/* Newsletter */
.newsletter {
    display: flex;
    gap: 80px;
    margin-bottom: 80px;
    margin-top: 100px;
}

input {
    display: block;
    margin: 20px 0;
    width: 92%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(19, 19, 24, 0.05);

    ;
}

.newsletter-content button {
    width: 100%;
    padding: 15px 10px;
    border: none;
    background-color: var(--special-color);
    color: var(--secondary-color);
    font-size: 20px;
    font-family: 800;
    border-radius: 8px;
}

.newsletter-content {
    border: 2px solid var(--special-color);
    padding: 25px;
    border-radius: 8px;
}

.offer img {
    width: 100%;
    position: relative;
    z-index: 10px;
}

.offer p {
    background-color: var(--special-color);
    width: 246px;
    height: 101px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 10;
    right: 260px;
    bottom: -228em;
    transform: rotate(-27deg);
    /* z-index: 8; */
}

/* footer section */
footer {
    background-color: rgba(19, 19, 24, 0.05)
}

.footer {
    text-align: center;
    padding: 80px 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content h1 {
    margin-left: 15px;
    font-size: 32px;
    font-weight: 800;
    color: var(--primary-color);
}

.footer-content h1 span {
    color: var(--special-color);
}

.footer p {
    color: var(--p-color);
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer li {
    list-style: none;
}

hr {
    width: 50%;
}


/* Responsive */
@media screen and (max-width: 600px) {

    /* header section */
    header {
        margin: 0 40px;
    }

    nav {
        flex-direction: column;
    }

    .nav-menu li {
        margin-left: 12px;
    }

    .header-banner {
        height: 750px;
    }

    .banner-content {
        padding: 123px 25px 110px;
    }

    .content h1 {
        font-size: 22px;
    }

    .content p {
        font-size: 14px;
    }

    .banner-button {
        flex-direction: column;
    }

    .banner-button button {
        padding: 20px 16px;
        width: 370px;
    }

    .banner-button .btn-1 {
        justify-content: center;
        gap: 12px;
    }

    /* main */
    main {
        margin: 0 40px;
    }

    .popular-tours-content h3,
    .destination-content h3,
    .choose-content h2,
    #box-content h4 {
        font-size: 20px;
        font-weight: 800;

    }

    /* popular tours */
    .popular-tours-container {
        flex-direction: column;
    }

    .popular-tours-content button {
        margin-top: 0;
    }

    .popular-tours-container {
        gap: 30px;
    }

    /* Destination section */
    .row {
        flex-direction: column;

    }

    .row img {
        width: 100%;
        margin-bottom: 15px;
        height: 250px;
    }

    .top-left-row h4 {
        margin-left: 206px;
        margin-top: 101px;
    }

    .top-right-row h4 {
        margin-left: 198px;
        margin-top: 144px;
    }

    .middle-left-row h4 {
        margin-left: 209px;
        margin-top: 105px;
    }

    .middle-middle-row h4 {
        margin-left: 189px;
        margin-top: 106px;
    }

    .middle-right-row h4 {
        margin-left: 205px;
        margin-top: 102px;
    }

    .bottom-left-row h4 {
        margin-left: 190px;
        margin-top: 107px;
    }

    .bottom-right-row h4 {
        margin-left: 192px;
        margin-top: 100px;
    }

    /* choose section */
    .choose-content {
        margin: 10px;
    }

    .choose-box-section {
        flex-direction: column;
        gap: 0;
        margin-bottom: 5px;

    }

    #box-content {
        margin: 10px 0;
    }

    .box-1,
    .box-2,
    .box-3 {
        width: 80%;
    }

    /* simple perfect place */


    /* Newsletter */


    /* footer */
    hr {
        width: 80%;
    }
}